:host {
  background: rgba(51, 40, 57, 1);
  display: block;
  min-height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(51, 40, 57, 1);
  width: 100vw;
  height: auto;
  padding: 1rem 6%;
  gap: 1.25rem;

  .main-page__logo-button {
    border: 0;
    background: transparent;
    padding: 0;
  }

  img {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  };
}

.header-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  max-width: 1440px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  > .header-main-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
    margin-left: 6%;
    p {
      font-family: 'Mulish', sans-serif;
      font-size: 1.25rem;
      color: rgba(255, 255, 255, 1);
    }
  }

  > .header-main-right {
    .main-page__notepad-symbol-wrapper {
      position: relative;
      display: inline-block;
      margin-right: 6%;

      .main-page__notepad-symbol {
        display: block;
        max-height: 420px;
        transition: all 300ms ease-in-out;
      }

      .main-page__notepad-symbol--hover {
        position: absolute;
        inset: 0;
        opacity: 0;
      }

      &:hover .main-page__notepad-symbol--default {
        opacity: 0;
      }

      &:hover .main-page__notepad-symbol--hover {
        opacity: 1;
      }
    }
  }
}

